@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url(style.css);
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "sans-serif";
  box-sizing: border-box;
  color: var(--text-color);
}
.testim-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 3rem 0 3rem;
}
.testim-slides {
  display: block; /* Must be block */
  width: 100%;
  max-width: 112rem;
  /* justify-content: center; b/c po flex */ 
  overflow: hidden;
}
.slider {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 0;
  transition: all .5s;
  
}
.slider-element {
  position: relative;
  display: flex;
  background: var(--bg-color);
  width: 30%;
  min-height: 17rem;
  padding-left: 1rem;
  border-radius: 1.1rem;
  align-items: center;
}
.slider-element img {
  width: 20%;
  height: 20%;
  border-radius: 50%;
}
.slider-element div {
  padding: 1rem;
}
.slider-element div h2 {
  color: var(--main-color);
  font-size: 2rem;
}
.slider-element div p {
  font-size: 1.5rem;
  color: var(--text-color);
  padding-top: 1rem;
}
.testimonials {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4.5rem;
  font-weight: 1000;
  margin-top: 6rem;
}
@media (max-width: 768px) {
  .slider {
    width: 300%;
  }
  .testim-slides {
    max-width: 75rem;
}
}
